    body {
        margin: 0px;
        padding: 0px;
    }
    
    а {}
    
    header {
        width: 100%;
        font-size: 300%;
        display: flex;
        justify-content: space-evenly;
        background-color: rgb(0, 0, 0);
        margin: 5% none;
        padding-top: 20%;
        padding-bottom: 20%;
        /*margin-top: 20%;
        margin-bottom: 20%;*/
        font-family: 'Poiret One', cursive;
    }
    
    section {
        display: flex;
        /*flex-wrap: wrap;
    justify-content: space-around;*/
        margin: 0%;
        background-color: rgb(78, 78, 78);
    }
    
    .hello {
        display: flex;
        flex-direction: column;
        padding: 5% 10%;
    }
    
    .logo {
        margin: 5%;
        width: 700px;
        height: 700px;
        border-radius: 50%;
        padding: 2%;
    }
    
    h1 {
        font-size: 500%;
        color: rgb(255, 255, 255);
        font-family: 'Poiret One', cursive;
    }
    
    h3 {
        font-size: 200%;
        color: rgb(190, 190, 190);
        font-family: 'Poiret One', cursive;
    }
    
    .Brow {
        text-decoration: none;
        color: darkgray;
    }
    
    .gallery {
        display: flex;
        /*flex-wrap: wrap;*/
        justify-content: space-around;
        overflow-x: auto;
        margin: 5% 0%;
    }
    
    .foto {
        padding: 3% 1%;
        width: 50%;
        height: auto;
    }
    
    footer {
        display: flex;
        justify-content: center;
        padding-top: 50%;
        padding-bottom: 50%;
        color: black;
    }
    
    @media (max-width: 600px) {
        section {
            display: flex;
            flex-direction: column-reverse;
            padding: 0%;
        }
        .hello {
            color: brown;
            padding: 0% 6%;
        }
        h1 {
            padding: 0%;
            font-size: 180%;
            align-self: center;
            margin: 3%;
        }
        h3 {
            font-size: 90%;
            padding-bottom: 21%;
            text-align: center;
        }
        .logo {
            width: 80%;
            height: 80%;
            padding-top: 10%;
            padding-bottom: 0%;
            padding-left: 10%;
            padding-right: 10%;
            margin: 0%;
        }
        header {
            flex-direction: column;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            padding: 12% 0%;
            background-color: rgb(255, 255, 255);
        }
        .Brow {
            font-size: 50%;
            text-decoration: none;
            color: darkgray;
        }
        .foto {
            width: 60%;
            height: auto;
            padding-top: 10%;
        }
    }