    body {
        margin: 0px;
        padding: 0px;
    }
    
    а {}
    
    header {
        width: 100%;
        font-size: 300%;
        display: flex;
        justify-content: space-evenly;
        background-color: rgb(0, 0, 0);
        margin: 5% none;
        padding-top: 20%;
        padding-bottom: 20%;
        /*margin-top: 20%;
        margin-bottom: 20%;*/
        font-family: 'Poiret One', cursive;
    }
    
    section {
        display: flex;
        /*flex-wrap: wrap;
    justify-content: space-around;*/
        margin: 0%;
        background-color: rgb(78, 78, 78);
    }
    
    .hello {
        display: flex;
        flex-direction: column;
        padding: 5% 10%;
    }
    
    .logo {
        margin: 5%;
        width: 700px;
        height: 700px;
        border-radius: 50%;
        padding: 2%;
    }
    
    h1 {
        font-size: 500%;
        color: rgb(255, 255, 255);
        align-content: center;
        font-family: 'Poiret One', cursive;
    }
    
    h3 {
        font-size: 200%;
        color: rgb(190, 190, 190);
        font-family: 'Poiret One', cursive;
    }
    
    .Brow {
        text-decoration: none;
        color: darkgray;
    }
    
    .gallery {
        display: flex;
        /*flex-wrap: wrap;*/
        justify-content: space-around;
        overflow-x: auto;
        margin: 5% 0%;
    }
    
    .foto {
        padding: 4% 2%;
        width: 50%;
        height: auto;
        min-width: 400px;
    }
    
    footer {
        display: flex;
        justify-content: center;
        padding-top: 50%;
        padding-bottom: 50%;
        color: black;
    }
    
    @media (max-width: 600px) {
        section {
            display: flex;
            flex-direction: column-reverse;
            padding: 0%;
        }
        .hello {
            width: 100%;
            color: brown;
            background-color: rgb(255, 255, 255);
            padding: 5%;
        }
        h1 {
            justify-content: center;
            font-size: 30%;
            padding: 8%;
            align-items: center;
            font-size: 300%;
        }
        h3 {
            font-size: 160%;
            padding-bottom: 6%;
        }
        .logo {
            width: 90%;
            height: 90%;
        }
        header {
            flex-direction: column;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
        .Brow {
            text-decoration: none;
            color: darkgray;
        }
    }